@font-face {
	font-family: 'GideonRoman-Regular';
	src: url('fonts/GideonRoman-Regular.ttf') format('ttf');
}

@font-face {
	font-family: 'Genos-VariableFont_wght';
	src: url('fonts/Genos-VariableFont_wght.ttf') format('ttf');
}

@font-face {
	font-family: 'Glory-VariableFont_wght';
	src: url('fonts/Glory-VariableFont_wght.ttf') format('ttf');
}

* {
	margin: 0;
	padding: 0;
}

img {
	width: 100px;
	height: 100px;
}

/* Header */

.h-container {
	display: flex;
	background-color: #a1a1aa;
	height: 193px;
}

.name {
	display: flex;
	flex-direction: column;
	margin: 0 0 0 55px;
}

.name h1 {
	position: absolute;
	z-index: 15;
	margin: 7% 0 0 16px;
	color: white;
	font: 2.3em "GideonRoman-Regular", monospace;
}

.name img {
    width: 300px;
    height: 193px;
}

.h-left {
	margin-left: 10%;
}

.h-right {
	background-color: white;
	margin: 30px 18% 0 0;
	padding: 10px 10% 20px 28px;
	height: 100px;
}

.h-social {
	display: flex;
	justify-content: flex-end;
}

.h-social img {
	width: 25px;
	height: 25px;
	margin: 3px 0 0 16px;
}

.h-right h2 {
	font: 1.3em "Genos-VariableFont_wght", monospace;
}

.h-right p {
	font: .7em "Glory-VariableFont_wght", monospace ;
}

/* Main */

.main-container {
	margin: 23px 81px 95px 100px;
	padding: 0 0 0 6em;
}

.main-projects {
    display: grid;
    grid-template-columns: .2fr 0.1fr 0.1fr .2fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 36px;
}

.project-card1 {
	width: 278px;
    height: 182px;
	grid-column: 2 / 3;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.project-card2 {
	width: 278px;
    height: 182px;
	grid-column: 3 / 4;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.project-card3 {
	width: 278px;
    height: 182px;
	grid-column: 4 / 5;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.project-card4 {
	width: 278px;
    height: 182px;
	grid-column: 2 / 3;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.project-card5 {
	width: 278px;
    height: 182px;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	grid-column: 3 / 4;
}

.project-card6 {
	width: 278px;
    height: 182px;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	grid-column: 4 / 5;
}

.ss {
	width: 488px;
	height: 100px;
	background-color: rgba(0, 0, 255, 0.4);
}

.p-social {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.p-social img {
	width: 26px;
	height: 23px;
}

.p-social h4 {
	font: 1em "Genos-VariableFont_wght", monospace;
}

.main-container h2 {
	margin-left: 7em;
    font: 1.6em "Genos-VariableFont_wght", monospace;
}

.main-projects h3 {
	font: 2em "Glory-VariableFont_wght", monospace ;
	position: absolute;
	z-index: 15;
	color: white;
	width: min-content;
}

.main-projects p {
	margin: 13px 0 0 2px;
	font: .7em "GideonRoman-Regular", monospace;
}

.p-ss {
	display: flex;
    align-items: center;
    justify-content: center;
}


/* Footer */

.footer-container {
	display: flex;
	background-color: #a1a1aa;
	color: white;
	height: 196px;
}

.footer-contact {
	margin: 0 0 0 200px;
}

.phone {
	display: flex;
	margin-left: 16px;
}

.email {
	display: flex;
	margin-left: 16px;
}

.footer-contact img {
	width: 20px;
	height: 20px;
}


.footer-social {
	margin-left: 14px;
}

.footer-container h2 {
	font: 2em "GideonRoman-Regular", monospace;
	margin: 3px 0 2px 20px;
	font-weight: 600;
}

.footer-container p {
	font: .9em "Glory-VariableFont_wght", monospace;
	margin: 2px 0 5px 20px;
}

.footer-left img {
	padding: 7px 0 0 86px;
	width: 352px;
	height: 189px;
}

.footer-social img {
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

@media (max-width: 1000px) {
	/* Header */
	.name h1 {
		margin: 16px 0 0 370px;
	}

	.name img {
		width: 400px;
		height: 350px;
		z-index: 14;
		box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	}

	.h-right {
		box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
		z-index: 13;
		margin: 75px 13% 0 0;
		height: 25em;
		padding: 0 5px 0 5px;
	}

	.h-right h2 {
		font: 2em "Genos-VariableFont_wght", monospace;
		margin: 50px 0 20px 0;	
	}

	.h-right p {
		font: 1em "Glory-VariableFont_wght", monospace;
	}

	.h-social {
		visibility: hidden;
	}

	/* Main */

	.main-container {
		margin: 20em 81px 95px 100px;
    	padding: 0 0 0 6em;
	}

	.main-container h2 {
		margin: 0;

	}

	.main-projects {
		display: grid;
		grid-template-areas: "c1 c2"
							 "c3 c4"
							 "c5 c6";
	}

	.main-projects p {
		margin: 0 0 0 8px;
		font: .7em "GideonRoman-Regular", monospace;
	}

	.project-card1 {
		width: 278px;
    	height: 184px;
		grid-area: c1;
		box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	}

	.project-card2 {
		width: 278px;
	    height: 184px;
		grid-area: c2;
		box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	}

	.project-card3 {
		width: 278px;
	    height: 184px;
		grid-area: c3;
		box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	}
	.project-card4 {
		width: 278px;
	    height: 184px;
		grid-area: c4;
		box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	}
	.project-card5 {
		width: 278px;
	    height: 184px;
		box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
		grid-area: c5;
	}

	.project-card6 {
		width: 278px;
	    height: 184px;
		box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
		grid-area: c6;
	}

	.ss {
		height: 124px;
	}

	.p-social h4 {
		font: .8em "Genos-VariableFont_wght", monospace;
		margin-left: 8px;
	}

	.p-social img {
		width: 15px;
		height: 15px;
	}

	/* Footer */

	.footer-container {
		height: 300px;
	}

	.footer-contact {
		margin: 0 0 0 70px;
	}

	.footer-left img {
	padding: 35px 75px 0 86px;
    width: 300px;
    height: 250px;
	}

	.footer-container h2 {
    margin: 35px 0 2px 20px;
}

@media (max-width: 850px) {
	/* Header */

	.h-container{
		display: flex;
		flex-direction: column;
		height: 300px;
	}

	.name h1 {
		margin: 5em 0 0 1.5em;
		font: 3em "GideonRoman-Regular", monospace;
		width: 5em;
	}

	.name img {
		width: 350px;
		height: 350px;
	}

	.h-right {
		margin: 0 1.5em 0 6.4em;
		box-shadow: none;
	}

	.h-right h2 {
		margin-top: 20px;
	}

	.h-social {
		visibility: visible;
		justify-content: center;
	}

	.h-social img {
		width: 70px;
		height: 60px;
		margin: 0;
	}

	/* Main */

	.main-container {
		margin: 24em 81px 95px 100px;
    	padding: 0 0 0 2em;
	}

	.main-container h2 {
		margin: 0 0 50px 100px;
		font-weight: 900;
	}

	.main-projects {
		display: grid;
		grid-template-areas: "c1" 
							 "c2"
							 "c3" 
							 "c4"
							 "c5" 
							 "c6";
	}

	.main-projects p {
		margin: 0 0 0 8px;
		font: .7em "GideonRoman-Regular", monospace;
	}

	.project-card1 {
		width: 278px;
    	height: 184px;
		grid-area: c1;
		box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	}

	.project-card2 {
		width: 278px;
	    height: 184px;
		grid-area: c2;
		box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	}

	.project-card3 {
		width: 278px;
	    height: 184px;
		grid-area: c3;
		box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	}
	.project-card4 {
		width: 278px;
	    height: 184px;
		grid-area: c4;
		box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	}
	.project-card5 {
		width: 278px;
	    height: 184px;
		box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
		grid-area: c5;
	}

	.project-card6 {
		width: 278px;
	    height: 184px;
		box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
		grid-area: c6;
	}

	/* Footer */
	.footer-container {
		width: 118vw;
		height: 258px;
		flex-direction: column;
	}

	.footer-contact {
		margin: 0 0 0 30px;
	}

	.footer-container h2 {
		margin: 15px 0 2px 7px;
	}

	.footer-left img {
	padding: 0;
    width: 100%;
    height: 350px;
	}

}